<html>
    <body>
        <form action="" method = 'post'> {% csrf_token %}
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="email" required>

            <label ><b>enter otp</b></label>
            <input type="text" placeholder="Enter mailed otp" name="otp" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw_repeat" required>
            <button type="submit" class="signupbtn">ok</button>
        </form>
        {% if message != None %}
            {{message}}
        {% endif %}
        <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>

    </body>
</html>